body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.no-scroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --vh: 100%;
  --border: rgb(204, 204, 204);
  --font-size:12px;
  --hover: rgb(124, 124, 124);
  --tw-bg-opacity:0.6;
  --modalBackground: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  --grayText: rgb(140, 140, 140);
  --background: rgb(234, 235, 236);
}

.no-drag {
  user-select: none;
}
.js-option {
  border: 1px solid var(--border);
  font-size: var(--font-size);
  padding: 5px 10px;
  border-radius: 3px;
  margin: 2px 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 4px;
  user-select: none;
}
.js-option:hover {
  border-color: var(--hover);
}
.js-option:active {
  scale: 98%;
}
.js-option .chevron {
  font-size: 0.7em;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(1px);
}
.js-search-modal-selected-options{
  overflow: hidden;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.js-search-modal-selected-options > div.each-options{
  margin-right: 12px;
  display: inline-flex;
  white-space: nowrap;
  font-size: var(--font-size);
  cursor: pointer;
  position: relative;
  padding: 0;
}
.js-search-modal-selected-options > div.each-options > button{
  padding: 0;
  background-color: transparent;
  line-height: inherit;
  background-image: none;
  margin: 2px 0 0;
  height: 17px;
  width: 17px;
  align-items: center;
  display: inline-flex;
  text-transform: none;
  border-width: 0;
}
.js-search-reset-modal {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.js-search-reset-modal::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(245, 245, 245) 70.1%);
  transform: translateX(-100%);
  content: "";
}
.js-search-reset-modal > button {
  height: 18px;
  width: 34px;
  box-shadow: rgb(102, 102, 102) 0px -1px 0px inset;
  white-space: nowrap;
  text-transform: none;
  border-width: 0;
  padding: 0;
  margin: 0;

}